* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    /* width: ; */
}